<!-- property.component.html -->

<div class="property-page">
  <form [formGroup]="propertyForm" class="premium-form">
    <h1 class="title">{{ isEditMode ? ('Update Property' | T) : ('Post Property' | T) }}</h1>

    <!-- OWNER INFO -->
    <div class="card" formGroupName="contact">
      <h2>{{ 'Owner Information' | T }}</h2>

      <div class="grid">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'Name' | T }}</mat-label>
          <input matInput formControlName="name" />
          <mat-error>{{ getError('contact.name') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Phone' | T }}</mat-label>
          <input matInput type="number" formControlName="phone" />
          <mat-error>{{ getError('contact.phone') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full">
          <mat-label>{{ 'Email' | T }}</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error>{{ getError('contact.email') }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <!-- BASIC INFO -->
    <div class="card">
      <h2>{{ 'Basic Information' | T }}</h2>

      <div class="grid">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'Title' | T }}</mat-label>
          <input matInput formControlName="title" />
          <mat-error>{{ getError('title') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Property Type' | T }}</mat-label>

          <mat-select
            formControlName="propertyType"
            (selectionChange)="handlePropertyType($event.value)"
          >
            <mat-option *ngFor="let type of propertyTypes" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
          <mat-error>{{ getError('propertyType') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Status' | T }}</mat-label>

          <mat-select formControlName="status">
            <mat-option value="Sale">{{ 'Sale' | T }}</mat-option>
            <mat-option value="Rent">{{ 'Rent' | T }}</mat-option>
          </mat-select>
          <mat-error>{{ getError('status') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Price' | T }}</mat-label>
          <input matInput type="number" formControlName="price" />
          <mat-error>{{ getError('price') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Price Type' | T }}</mat-label>

          <mat-select formControlName="priceType">
            <mat-option value="total">Total</mat-option>
            <mat-option value="monthly">Monthly</mat-option>
          </mat-select>
          <mat-error>{{ getError('priceType') }}</mat-error>
        </mat-form-field>

        <div class="checkbox-wrapper">
          <mat-checkbox formControlName="negotiable"> {{ 'Negotiable' | T }} </mat-checkbox>
          <mat-error>{{ getError('negotiable') }}</mat-error>
        </div>
        <div class="checkbox-wrapper">
          <mat-checkbox formControlName="isOffer" (change)="onOffer($event)">
            {{ 'Offer' | T }}
          </mat-checkbox>
        </div>

        @if (showOfferField) {
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Offer Details' | T }}</mat-label>
            <textarea matInput type="text" formControlName="offerdetails"></textarea>
          </mat-form-field>
        }
      </div>

      <mat-form-field appearance="fill" class="full">
        <mat-label>{{ 'Description' | T }}</mat-label>
        <textarea matInput rows="4" formControlName="description"> </textarea>
        <mat-error>{{ getError('negotiable') }}</mat-error>
      </mat-form-field>
    </div>

    <!-- LOCATION -->
    <div class="card" formGroupName="location">
      <h2>{{ 'Location' | T }}</h2>

      <div class="grid">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'City' | T }}</mat-label>

          <mat-select formControlName="city">
            <mat-option *ngFor="let city of cities" [value]="city">
              {{ city }}
            </mat-option>
          </mat-select>
          <mat-error>{{ getError('location.city') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Area' | T }}</mat-label>
          <input matInput formControlName="area" />
          <mat-error>{{ getError('location.area') }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Pincode' | T }}</mat-label>
          <input matInput formControlName="pincode" />
          <mat-error>{{ getError('location.pincode') }}</mat-error>
        </mat-form-field>

        <mat-checkbox (change)="onGpsToggle($event)"> Use GPS </mat-checkbox>
        <mat-checkbox (change)="onMapsToggle($event)" [checked]="showMap"> {{'show Maps' | T}} ({{'Select your location on the map to ensure accuracy' |T}}) </mat-checkbox>
        <mat-form-field appearance="fill" class="full">
          <mat-label>{{ 'Address' | T }}</mat-label>

          <textarea matInput rows="3" formControlName="address"> </textarea>
          <mat-error>{{ getError('location.address') }}</mat-error>
        </mat-form-field>
      </div>
      @if (showMap) {
        <div class="map-container">
          <google-map class="property-map" [center]="center" [zoom]="zoom"  width="100%"
            height="450px">
            <map-marker
              *ngIf="selectedLocation"
              [position]="selectedLocation"
              [options]="{
                draggable: true,
              }"
              (mapDragend)="markerDragged($event)"
            >
            </map-marker>
          </google-map>
        </div>
      }
    </div>

    <!-- DETAILS -->
    <div class="card" formGroupName="details">
      <h2>{{ 'Property Details' | T }}</h2>

      <div class="grid">
        <div
          [matTooltip]="isPlotOrLand ? ('BEDROOMS_NOT_APPLICABLE' | T) : ''"
          matTooltipClass="white-tooltip"
          matTooltipPosition="above"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Bedrooms' | T }}</mat-label>
            <input matInput type="number" formControlName="bedrooms" />
            @if (propertyForm.get('details.bedrooms')?.disabled) {
              <mat-icon matSuffix>lock</mat-icon>
            }
            <mat-error>{{ getError('details.bedrooms') }}</mat-error>
          </mat-form-field>
        </div>

        <div
          [matTooltip]="isPlotOrLand ? ('BATHROOMS_NOT_APPLICABLE' | T) : ''"
          matTooltipClass="white-tooltip"
          matTooltipPosition="above"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Bathrooms' | T }}</mat-label>
            <input matInput type="number" formControlName="bathrooms" />
            @if (propertyForm.get('details.bathrooms')?.disabled) {
              <mat-icon matSuffix>lock</mat-icon>
            }
            <mat-error>{{ getError('details.bathrooms') }}</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>{{ 'Measuring-Aria' | T }} (sqft)</mat-label>
          <input matInput type="number" formControlName="area" />
          <mat-error>{{ getError('details.area') }}</mat-error>
        </mat-form-field>

        <div
          [matTooltip]="isPlotOrLand ? ('FURNISHING_NOT_APPLICABLE' | T) : ''"
          matTooltipClass="white-tooltip"
          matTooltipPosition="above"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Furnishing' | T }}</mat-label>
            <input matInput formControlName="furnishing" />
            @if (propertyForm.get('details.furnishing')?.disabled) {
              <mat-icon matSuffix>lock</mat-icon>
            }
            <mat-error>{{ getError('details.furnishing') }}</mat-error>
          </mat-form-field>
        </div>

        <div
          [matTooltip]="isPlotOrLand ? ('FLOOR_NOT_APPLICABLE' | T) : ''"
          matTooltipClass="white-tooltip"
          matTooltipPosition="above"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Floor' | T }}</mat-label>
            <input matInput type="number" formControlName="floor" />
            @if (propertyForm.get('details.floor')?.disabled) {
              <mat-icon matSuffix>lock</mat-icon>
            }
            <mat-error>{{ getError('details.floor') }}</mat-error>
          </mat-form-field>
        </div>

        <div
          [matTooltip]="isPlotOrLand ? ('TOTAL_FLOORS_NOT_APPLICABLE' | T) : ''"
          matTooltipClass="white-tooltip"
          matTooltipPosition="above"
        >
          <mat-form-field appearance="fill">
            <mat-label>{{ 'Total Floors' | T }}</mat-label>
            <input matInput type="number" formControlName="totalFloors" />
            @if (propertyForm.get('details.totalFloors')?.disabled) {
              <mat-icon matSuffix>lock</mat-icon>
            }
            <mat-error>{{ getError('details.totalFloors') }}</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <!-- IMAGE SECTION -->
    <div class="card">
      <h2>{{ 'Property Images' | T }}</h2>

      <div class="image-grid">
        <div class="image-box" *ngFor="let type of imageTypes">
          <!-- PREVIEW -->
          <div class="preview" *ngIf="imagePreview[type]">
            <img [src]="imagePreview[type]" />

            <button type="button" class="remove-btn" (click)="removeImage(type)">✕</button>
          </div>

          <!-- UPLOAD -->
          <label *ngIf="!imagePreview[type]" class="upload-label">
            <input hidden type="file" (change)="onImageSelect($event, type)" />

            <div class="placeholder">
              <span>+</span>

              <p>{{ type | titlecase }}</p>
            </div>
          </label>
        </div>
      </div>
    </div>

    <!-- PROPERTY VIDEO -->
    <div class="card">
      <h2>{{ 'Property Video' | T }}</h2>

      <div class="video-section">
        <!-- Upload Video -->
        <div class="video-upload">
          <label class="upload-label">
            <input hidden type="file" accept="video/*" (change)="onVideoSelect($event)" />

            <div class="placeholder">
              <span>🎥</span>
              <p>Upload Property Video</p>
            </div>
          </label>

          @if (videoPreview) {
            <video [src]="videoPreview" controls class="preview-video"></video>

            <button type="button" class="remove-btn" (click)="removeVideo()">✕</button>
          }
        </div>

        <!-- Social Media URL -->
        <mat-form-field appearance="fill" class="full">
          <mat-label>Video URL</mat-label>

          <input
            matInput
            placeholder="YouTube / Instagram / Facebook video link"
            formControlName="videoUrl"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- SUBMIT -->
    <button mat-raised-button class="submit-btn" (click)="submit()">
      {{ isEditMode ? ('Update Property' | T) : ('Post Property' | T) }}
    </button>
  </form>
</div>
