<div class="service-groups mt-3">
  <div *ngFor="let serviceGroup of serviceGroups" class="category-section">
    <h2 class="category-title">{{ serviceGroup.icon }} {{ serviceGroup.category }}</h2>

    <div class="cards-grid">
      <div class="service-card" *ngFor="let item of serviceGroup.items">
        <img [src]="item.image" alt="" />

        <div class="card-body">
          <div class="owner">
            {{ item.title }}
          </div>

          <div class="location">
            {{ item.location }}
          </div>

          <div class="price">
            ₹{{ item.price }}
            <small *ngIf="item.unit">/{{ item.unit }}</small>
          </div>

          <div class="actions">
            <button class="edit-btn" (click)="edit(item)">Edit</button>

            <button class="inactive-btn" (click)="toggleStatus(item)">
              {{ item.isActive ? 'Deactivate' : 'Activate' }}
            </button>

            <button class="delete-btn" (click)="delete(item)">{{ 'Delete' | T }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
