<div class="upload-wrapper">
  <div class="preview-container">
    <img *ngIf="preview" [src]="preview" class="preview-image" />

    <div *ngIf="!preview" class="placeholder">📷 Upload Image</div>

    <button mat-raised-button
      *ngIf="preview"
      mat-mini-fab
      color="warn"
      type="button"
      class="remove-btn"
      (click)="removeImage(fileInput, cameraInput)"
    >
      ✕
    </button>
  </div>

  <input #cameraInput hidden type="file" accept="image/*" capture="environment" (change)="onImageSelected($event)" />
  <input #fileInput hidden [multiple]="multiple" type="file" accept="image/*" (change)="onImageSelected($event)" />

  <div class="image-source-actions">
    <button mat-raised-button color="primary" type="button" (click)="openCamera(cameraInput)">Take Photo</button>
    <button mat-raised-button type="button" (click)="openGallery(fileInput)">Choose from Gallery</button>
  </div>
</div>
